/* Variables Globales para los colores */
:root {
  --grisClaro: rgb(182, 182, 182);
  --grisFondo: rgb(196, 196, 196);
  --grisOscuro: rgb(60, 60, 60);
  --blanco: rgb(230, 229, 229);
}

html {
  background-color: gray;
  font-family: Tahoma;
}

h1 {
  color: var(--grisClaro);
  background-color: var(--grisOscuro);
  padding: 0.6em 0.6em 0.6em;
  border: 0.5em solid var(--grisClaro);
  margin-bottom: 0px;
}

h2 {
  color: var(--grisOscuro);
  background-color: var(--grisClaro);
  padding: 1em 1em 1em;
  border: 0.5em solid var(--grisOscuro);
  border-bottom: none;
  margin-bottom: 0px;
}

div {
  border: 0.3em dotted var(--grisOscuro);
  border-top: none;
  padding: 1.5em 1.5em 1.5em;
  background-color: var(--blanco);
  margin-top: 0px;
}

li {
  font-family: Tenor Sans;
  list-style: none;
}
